<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">

    <title th:text="${title}">Title</title>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                    <span class="h1">Add Post</span>
                </div>
                <div class="col-12 my-5">
                    <form th:action="@{/posts}" method="POST" th:object="${post}" >
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="title.." required>
                            </div>

                             <div class="col">
                                <label for="body" class="form-label">Post</label>
                                <textarea  class="form-control" id="body" th:field="*{body}" placeholder="Post..." required></textarea>
                            </div>

                            <div class="col">
                                <label for="author" class="form-label">Author</label>
                                <select class="form-select" id="author" name="authorId" required>
                                    <option th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                                </select>
                            </div>

                        </div> 

                        <button type="submit" class="btn btn-success" >Save</button>
                        <button type="reset" class="btn btn-danger" >Reset</button>
                            
                    </form>
                </div>
            </div>
        </div>
        
    </body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>